*{
  margin: 0%;
  padding: 0%;

}

body{
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.headerHome{
  width: 100vw;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  background-color: rgb(19, 189, 189);
}

.img-logo{
  width: 7rem;
  height: 70%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  border: groove 2px #15181e;
}

.navHome{
  margin-right: 2rem;
  display: flex;
  justify-content: center;
 

}

.enlace{
  margin-right: 4rem;
  color: #fff;
  text-decoration: none;

}
.enlace:hover{
  background-color: #3a576c;
  border-radius: 15px;
  padding: 0.5rem;
  color: #fff;
}
/* ******************************* */
.navigatorUI{
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  background-color: rgb(9, 138, 138);
}
.navigator{
  margin-right: 5rem;
  color: #fff;
  text-decoration: none;
 

}
.navigator:hover{
  background-color: #3a576c;
  border-radius: 15px;
  padding: 0.5rem;
  color: #fff;
}
section{
  text-align: center;
  margin-top: 160px;
 
}
/* ************************************ */
.btnSum{
  background-color: blanchedalmond;
  border-radius: 4px;
  width: 70px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: 12px;
  font-size: 18px;
}
.btnSum:hover{
  background-color: blanchedalmond;
  border-radius: 15px;
  padding: 0.5rem;
  color: #000;
}
.btnRest{
  background-color: aqua;
  border-radius: 4px;
  width: 70px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: 12px;
  font-size: 18px;
}
.btnRest:hover{
  background-color: aqua;
  border-radius: 15px;
  padding: 0.5rem;
  color: #000;
}
.btnZero{
  background-color: brown;
  border-radius: 4px;
  width: 70px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: 12px;
  font-size: 18px;
}
.btnZero:hover{
  background-color: brown;
  border-radius: 15px;
  padding: 0.5rem;
  color: #000;
}
h2{
  font-size: 40px;
}


.light-theme {
  background-color: #fff;
  color: #444444;

}

.dark-theme {
  background-color: #1f1b24;
  color: #f8f8f8;
}


.btnDarkMode{
  background-color: rgb(42, 165, 93);
  border-radius: 4px;
  width: 100px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: 12px;
  font-size: 18px;

}
.btnDarkMode:hover{
  background-color: rgb(42, 165, 93);
  border-radius: 15px;
  padding: 0.5rem;
  color: #000;
}

.img-balon{
  width: 15rem;
  height: 80%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  border: groove 2px #15181e;
  
}
.img-balon-color{
  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
/* **********************Rick And Morty****************** */
.bodyMorty{
  background-color: #000;
  height: auto;
}
.logo_morty {
	width: 22rem;
	margin: 4rem auto;
}
.logo_morty img{
  width: 100%;
}
.filtrar_morty {
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
	margin-bottom: 4rem;
}

.filtrar_morty input {
	height: 4rem;
	border: none;
	border-radius: 0.5rem;
	padding: 0 1rem;
	outline: var(--color-primary);
	width: 100%;
}
.tarjetas{
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-template-rows: 1fr;
  grid-column-gap: 35px;
  grid-row-gap: 0px;
}
.card{
  border: 4px solid wheat;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin: 3px;
}
.card h2{
  color: #fff;
  font-size: 20px;
	text-align: center;
}


/* ***********************Api Thenor********************* */

.gif {
  
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  grid-row-gap: 0px;
  border-radius: 10px;
  margin: 10px;
  width: auto;
  background: rgb(248, 240, 240);
  box-shadow: 0px 20px 34px rgb(71 71 71);
  justify-content: space-around;
  
}
.image {
    width: 250px;
    height: 250px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.search-from{
  width: 100%;
	max-width: 60rem;
	margin: 0 auto;

}
.search-from input {
  margin-top: 21px;
  height: 4rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0 1rem;
  outline: var(--color-primary);
  width: 70%;

}

.bodyThenor{
  background-color: #000;
  height: auto;
}

.search-button{
  margin: 50px;
  border: none;
  border-radius: 0.5rem;
  padding: 0 1rem;
  width: 12%;
  outline: var(--color-primary);
  font-size: 24px;
  background-color: rgb(19, 189, 189);
  color: #fff;
}

/* ****************************ContactUs- Email********************** */
.div-form{
  display: flex;
  margin: 15px;
  background: rgb(179, 175, 175);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;

}
.form-mail input{
  margin-top: 10px;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0px 2rem;
  
  width: 70%;
}
.form-mail textarea{
  margin-top: 10px;
  height: 7rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0px 2rem;
  
  width: 70%;
}
.form-mail button{
  margin: 30px;
    border: none;
    border-radius: 1.5rem;
    padding: 0px 1rem;
    width: 80%;
    font-size: 28px;
   


}
label{
  font-size: 24px;
    font-family: monospace;
}

.title-form{
  font-size: 50px;
  text-align: center;

}

